NGFW_API_ADDR=:8080
NGFW_API_TOKEN=change-me-in-development
NGFW_ADMIN_USER=admin
NGFW_ADMIN_PASSWORD=change-this-password
NGFW_STATE_DIR=./state
NGFW_ML_URL=http://127.0.0.1:8090
NGFW_SURICATA_BIN=/usr/bin/suricata
NGFW_SURICATA_SOCKET=/run/suricata/suricata-command.socket
NGFW_SURICATA_CONFIG=/etc/suricata/suricata.yaml
NGFW_SURICATA_EVE=/var/log/suricata/eve.json
NGFW_PROXY_ADDR=:8088
NGFW_PROXY_UPSTREAM=http://10.20.0.10:8080
NGFW_PROXY_CA_CERT=/var/lib/ngfw/ca/inspection-ca.crt
NGFW_PROXY_CA_KEY=/var/lib/ngfw/ca/inspection-ca.key
